<section id="contactUs_section">
     <div class="container py-5 mb-3">
          <div class="contactUs_info">
               <div class="contactUs_section_title text-center mb-3 pb-5">
                    <h1 class="title fw-bold text-uppercase text-dark">Contact Us</h1>
                    <div class="sub_title">
                         <div class="decor_left"><span></span></div>
                         <p class="px-2 fw-bold text-uppercase text-dark">Quick Contact</p>
                         <div class="decor_right"><span></span></div>
                    </div>
                    <div class="description">
                         <p class="fs-16 mb-0">
                              We’re excited to connect with you! Whether you have inquiries about our architectural
                              services,
                              <br /> want to discuss a project, or simply wish to share your thoughts, we’re here to
                              help.
                         </p>
                    </div>
               </div>
               <div class="row contactUs_address_box">
                    <div class="col-lg-4 single_contact_address_box text-center">
                         <h4 class="">
                              Your insights are invaluable as we bring your architectural dreams to life.
                         </h4>
                         <h3 class="text-danger">Let's Collaborate on Your Vision</h3>
                    </div>
                    <div class="col-lg-4 single_contact_address_box main_box">
                         <h3 class="text-uppercase text-center fw-bold mb-4">Get In Touch</h3>
                         <ul class="text-center">
                              <li class="pb-3 mb-3">
                                   <div class="address_title">
                                        <h4 class="fw-bold">Main Office :</h4>
                                   </div>
                                   <div class="address_text">
                                        <p class="mb-0">3845 Beck Blvd, Suite# 827<br> Naples, FL 34114</p>
                                   </div>
                              </li>
                              <li class="pb-3 mb-3">
                                   <div class="address_title">
                                        <h4 class="fw-bold">Telphone :</h4>
                                   </div>
                                   <div class="address_text">
                                        <p class="mb-0">(239) 537 - 6990</p>
                                   </div>
                              </li>
                              <li class="pb-3 mb-3">
                                   <div class="address_title">
                                        <h4 class="fw-bold">Email Id. :</h4>
                                   </div>
                                   <div class="address_text">
                                        <p class="mb-0">CollierTruss&#64;gmail.com</p>
                                   </div>
                              </li>
                              <li class="">
                                   <div class="address_title">
                                        <h4 class="fw-bold">Follow Us :</h4>
                                   </div>
                                   <div class="address_text">
                                        <p class="mb-0 fs-3">
                                             <a href="" class="me-3">
                                                  <i class="bi bi-facebook"></i>
                                             </a>
                                             <a href="" class="me-3">
                                                  <i class="bi bi-instagram"></i>
                                             </a>
                                             <a href="">
                                                  <i class="bi bi-twitter"></i>
                                             </a>
                                        </p>
                                   </div>
                              </li>
                         </ul>
                    </div>
                    <div class="col-lg-4 single_contact_address_box text-center">
                         <h4 class="">
                              We welcome your feedback and inquiries to ensure we meet your expectations.
                         </h4>
                         <h3 class="text-danger">Share Your Thoughts</h3>
                    </div>
               </div>
          </div>
     </div>

     <div class="container-fluid px-0 mb-3 mb-md-5">
          <div class="contactUs_form">
               <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 col-md-9 col-sm-12 col-xs-12">
                         <div class="contactUs_form_container px-0 my-5">
                              <div class="card">
                                   <div class="card-body">
                                        <div class="row mb-3">
                                             <div class="col-xl-12">
                                                  <div class="contactUs_section_title float-start">
                                                       <h1 class="title fw-bold text-uppercase text-dark">Send Your
                                                            Message
                                                       </h1>
                                                       <div class="sub_title">
                                                            <div class="decor_left"><span></span></div>
                                                            <p class="px-2 fw-bold text-uppercase text-dark">
                                                                 Contact Form</p>
                                                       </div>
                                                  </div>
                                             </div>
                                        </div>
                                        <form action="" id="form" class="">
                                             <div class="row">
                                                  <div class="col-md-6 col-sm-6 col-xs-12">
                                                       <div class="mb-3">
                                                            <label for="name" class="form-label">Name</label>
                                                            <input type="text" class="form-control" id="name"
                                                                 aria-describedby="name" placeholder="Enter Your Name">
                                                       </div>
                                                  </div>
                                                  <div class="col-md-6 col-sm-6 col-xs-12">
                                                       <div class="mb-3">
                                                            <label for="mobile_no" class="form-label">Mobile
                                                                 No.</label>
                                                            <input type="number" class="form-control" id="mobile_no"
                                                                 aria-describedby="mobile_no"
                                                                 placeholder="Enter Your Mobile No.">
                                                       </div>
                                                  </div>
                                                  <div class="col-md-6 col-sm-6 col-xs-12">
                                                       <div class="mb-3">
                                                            <label for="email_id" class="form-label">Email
                                                                 ID</label>
                                                            <input type="email" class="form-control" id="email_id"
                                                                 aria-describedby="email_id"
                                                                 placeholder="Enter Your Email ID">
                                                       </div>
                                                  </div>
                                                  <div class="col-md-6 col-sm-6 col-xs-12">
                                                       <div class="mb-3">
                                                            <label for="subject" class="form-label">Subject</label>
                                                            <input type="email" class="form-control" id="subject"
                                                                 aria-describedby="subject" placeholder="Enter Subject">
                                                       </div>
                                                  </div>
                                             </div>
                                             <div class="row">
                                                  <div class="col-xl-12">
                                                       <div class="mb-3">
                                                            <label for="comment" class="form-label">Comments</label>
                                                            <textarea class="form-control" id="comment"
                                                                 aria-describedby="comment"
                                                                 style="height: 100px"></textarea>
                                                       </div>
                                                  </div>
                                                  <div class="col-xl-12">
                                                       <div class="mb-3">
                                                            <label for="attach_file" class="form-label">Attach
                                                                 File</label>
                                                            <input type="file" class="form-control" id="attach_file"
                                                                 aria-describedby="attach_file"
                                                                 placeholder="Attach File">
                                                       </div>
                                                  </div>
                                             </div>
                                             <div class="float-end">
                                                  <div class="btn btn-danger">
                                                       Submit
                                                       <i class="bi bi-arrow-right-circle-fill ms-2"></i>
                                                  </div>
                                             </div>
                                        </form>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</section>