<footer id="footer">
     <div class="container-fluid">
          <div class="row text-center">
               <div class="col-12">
                    <div class="footer-links d-none d-sm-block mb-2 mx-auto">
                         <a (click)="scrollTo('hero_section')">Home</a>
                         <a (click)="scrollTo('about_us_section')">About Us</a>
                         <a (click)="scrollTo('secvice_section')">Services</a>
                         <a (click)="scrollTo('features_section')">Features</a>
                         <a (click)="scrollTo('contactUs_section')">Contact Us</a>
                    </div>
               </div>
               <div class="col-12">
                    <span>
                         Copyright &copy; <span>{{ currentYear }}</span> All rights reserved
                         <a href="javascript:void(0);" class="text-danger">Collier Truss Inc.</a>
                    </span>
               </div>
          </div>
     </div>
</footer>