<footer id="footer">
     <div class="container-fluid">
          <div class="row text-center">
               <div class="col-12">
                    <div class="footer-links d-none d-sm-block mb-2 mx-auto">
                         <a href="javascript:void(0);">Home</a>
                         <a href="javascript:void(0);">Services</a>
                         <a href="javascript:void(0);">Features</a>
                         <a href="javascript:void(0);">Contact Us</a>
                    </div>
               </div>
               <div class="col-12">
                    <span>
                         Copyright &copy; <span>{{ currentYear }}</span> All rights reserved
                         <a href="javascript:void(0);" class="text-danger">Collier Truss Inc.</a>
                    </span>
               </div>
          </div>
     </div>
</footer>