<section id="about_us_section">
     <div class="container-fluid py-5 text-center">
          <div class="about_us_section_title">
               <h1 class="text-dark text-uppercase fw-bold"> About Us </h1>
          </div>
          <div class="about_us_section_description w-75 mx-auto my-3">
               we are dedicated to building the future with integrity and excellence.
               With years of experience in the construction industry,
               our skilled team delivers high-quality projects on time and within budget,
               ensuring client satisfaction every step of the way.
               We specialize in innovative solutions tailored to meet the unique needs of our clients,
               making us a trusted partner in your construction journey.
          </div>
          <div class="about_us_section_link">
               <a (click)="scrollTo('secvice_section')" class="btn btn-danger me-2">
                    <i class="bi bi-arrow-down me-2"></i>
                    View Our Work
               </a>
               <a href="https://www.youtube.com/@CollierTruss" target="_blank" class="btn btn-outline-danger">
                    Learn More
               </a>
          </div>
     </div>
</section>