<section id="secvice_section">
     <div class="container py-5">
          <div class="service_section_title text-center">
               <h1 class="text-dark text-uppercase fw-bold text-center mb-5"> Recent Homes </h1>
          </div>

          <div class="services">
               <div class="row">
                    <div *ngFor="let service of services" class="col-md-4">
                         <div class="service_item">
                              <div class="service_image_line"></div>
                              <img [src]="service.image" [alt]="service.title" class="service_image">

                              <div class="service_body">
                                   <h6 class="service_status">{{service.status}}</h6>
                                   <h4 class="service_title text-uppercase">{{service.title}}</h4>
                                   <p class="service_description" [innerHTML]="service.description"></p>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</section>