// ******************************** //
// general.scss
// ******************************** //

* {
     padding: 0;
     margin: 0;
}

html {
     position: relative;
     min-height: 100%;
}

body {
     overflow-x: hidden;
     padding: 0;
     margin: 0;

     ul {
          list-style: none;
          padding: 0;
          margin: 0;

          li {
               list-style: none;
               padding: 0;
               margin: 0;
          }
     }
}